# Ignorar el entorno virtual
.venv/
venv/
env/

# Ignorar la base de datos local
db.sqlite3

# Ignorar archivos de migración, compilaciones y caché
**/migrations/*.py
**/migrations/*.pyc
*.pyc
__pycache__/

# Ignorar configuraciones del sistema y archivos de caché
*.log
*.pot
*.py[co]
*.pyo
*.swp
*.db
*.DS_Store
*.mo

# Ignorar configuraciones del editor
.vscode/
.idea/

# Ignorar archivos de entorno
*.env

# Ignorar archivos estáticos y multimedia generados
staticfiles/
media/
